@model List<TaxiUnicoWebClient.Models.Classes.Taxista>
@{
    ViewData["Title"] = "GetAllTaxistas";
}
<div class="container">
    <div class="page-header clearfix detailHeading">
        <h2>@ViewData["Title"]</h2>
    </div>
</div>

<div class="container">
    <div class="jumbotron" style="overflow:auto;">
        <h3>Clientes: </h3>
        <br>
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>PrimerNombre</th>
                    <th>SegundoNombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>Telefono</th>
                    <th>Dirección</th>
                    <th>Estatus</th>
                    <th>Detalles</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var c in Model)
                {
                    <tr class="assetRow">
                        <td>@c.PrimerNombre</td>
                        <td>@c.SegundoNombre</td>
                        <td>@c.Apellidos</td>
                        <td>@c.Correo</td>
                        <td>@c.Telefono</td>
                        <td>@c.Direccion</td>
                        <td>@c.Estatus</td>
                        <td><a asp-controller="Taxistas" asp-action="GetById" asp-route-id="@c.Id" type="button" class="btn btn-sm btn-primary">Detalles</a></td>
                        @if(c.Estatus == "Activo")
                        {
                            <td><a asp-controller="Taxistas" asp-action="Delete" asp-route-id="@c.Id" type="button" class="btn btn-sm btn-danger">Desactivar</a></td>
                        }
                        else
                        {
                            <td><a asp-controller="Taxistas" asp-action="Activate" asp-route-id="@c.Id" type="button" class="btn btn-sm btn-success">Activar</a></td>
                        }
                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>